@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Tracking</h1>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start Tracking Your Employees</h2>
        <p>
            Track your employees in real-time from your desktop or mobile. Automated reports, alerts if somebody is wasting their time and geo-tagged attendance with performance analysis.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On-time Reporting</h2>
        <p>Real-time reporting allows faster decision making and upto date data from the field staff all the time. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Real-time Location</h2>
        <p>Track your real-time location during their working hours. Also, get alerts when somebody is wasting their time. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>